@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This processing system captures order data from customer service employees or from customers directly, stores the data in a central database.</p>
