@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Durgapur,Gorhi Tola,Katihar,Bihar<br/>
    Mobile- 9039776342
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:shiv8685@gmail.com">shiv8685@gmail.com</a>
    
</address>